@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform:capitalize;
    transition: all .2s linear;
  }
  html{
    font-size: 85%;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
  body{
    background: #f7f7f7;
    
  }


.the-icons{
    padding: 15px;
    font-size: 2rem;
    display: inline-block;
    line-height: 44px;
    color:#fff;
    background-color: #6305a1;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
      
}
.box-icons{
    padding-top: 10%;
    margin-left: 40%;
    
}

.the-icons:hover{
    transform: scale(2);
}

@media screen and (max-width: 1110px){
    .photo{
        margin-right: 10%;
    
    }

    .fullName {
        font-size: 12px;
    }  

    .profession-text{
        font-size: 20px;
    }

    .profession-description {
        font-size: 12px;
    } 
}

.header{
    top: 0; left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 1.7rem 10%;
    height: .5rem;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146,161,176,.3);
    
}

.info{
    margin-left: 30px;
    justify-content: center;
}

.profession-des {
    padding: 20px 0px 0px 0px;
}

.profession{
    padding: 20px 0px 10px 0px;
}

.profession-text{
    
    font-family: 'Quicksand' ;
    color: #f7f7f7;
}

.profession-description{
    
    font-family: 'Muli'  ;
    color: #f7f7f7;
}
.name-text{
    font-size: 15px;
    font-family: 'Roboto'  ;
    color: #f7f7f7;
}

.highlighted-text{
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
}


a{
    color: black;
    font-family: 'Muli';
}

.abt-me{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Quicksand';
}

.skill-icon{
    justify-content: space-between;
    align-content: space-between;
}
.des-par{
    text-align: center;
}

.description{
    background-image: url('../images/How-to-Build-Your-Work-Portfolio_Social_D1.png');
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    font-family: 'Muli';
    color: #f7f7f7;
}

footer{
    width: 100%;
    min-height: 350px;
    max-height: auto;
    background-color: rgba(163, 28, 204, 0.438);
    margin-top: 10px;
    clear: both;
  }



.skills-heading{
    font-family: 'Roboto';
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    
}




.navlink{
    list-style: none;
    padding: 10px;
}



.navlink:hover{
    background-color: #6600cc;

}

.photo {
    margin-left: 50%;
    
}

img{
    
    flex: 1 1 40rem;
    z-index: 1;
    align-self: center;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    mix-blend-mode: normal
  

}

.main{
    display: flex;
    padding-top: 20px;
    padding-right: 50px;
    background-image: url(../images/How-to-Build-Your-Work-Portfolio_Social_D1.png);
    background-repeat: no-repeat;
}

.skills-container{
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 22, 0.9);
    transition: 0.2s;
    width: 50%;

    margin-left: 25%;
}

